.side-bar {
  width: 300px;
  &__header {
    background-color: #253141;
    color: white;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  &__header-box {
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    &__menu{
    display: flex;
      &__btn-icon {
        margin-left: 5px;
        color: white;
      }
    }
  }
  &__group {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    &__list {
      a { 
        color: white; 
        text-decoration: none
      }
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__group-message {
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
}